<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        .table {
            background-color: white;
            overflow: hidden;
            border-radius: 10px;
            border: solid;
            box-shadow: 0 5px 10px;
            width: 1400px;
            margin-left: -125px;
        }
    </style>
</head>
<body>
    <div class="col-md-8 form-group">
        <input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    </div>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>DisciplineId</td>
            <td>ClassroomId</td>
            <td>TeacherId</td>
            <td>GroupId</td>
            <td>DayId</td>
            <td>TimeId</td>
            <td>StartDate</td>
            <td>IsRecursiveTill</td>
        </tr>
        <tr *ngFor="let a of arraylist">
            <td>{{a.Id}}</td>
            <td>{{a.DisciplineId}}</td>
            <td>{{a.ClassroomId}}</td>
            <td>{{a.TeacherId}}</td>
            <td>{{a.GroupId}}</td>
            <td>{{a.DayId}}</td>
            <td>{{a.TimeId}}</td>
            <td>{{a.StartDate}}</td>
            <td>{{a.IsRecursiveTill}}</td>
        </tr>
    </table>
</body>
</html>